body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #34495e;
    justify-content: center;
    font-family: "montserrat",sans-serif; 
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(35, 30, 30, 0.7);
    color: #fff;
    padding: 15px 0;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    background-color: #bbada0;
    touch-action: none; 
}
.cell {
    width: 100px;
    height: 100px;
    background-color: #cdc1b4;
    font-size: 24px;
    text-align: center;
    line-height: 100px;
}
#game-info {
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
}
#restart-btn, .nav-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #8f7a66;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
}

#naughty-blog-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
    .cell {
        width: 20vw;
        height: 20vw;
        font-size: 5vw;
        line-height: 20vw;
    }
    #audio-control {
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 9999;
  }
}

#audio-control {
    position: fixed;
    bottom: 100px;
    right: 10px;
    z-index: 9999;
}

.icp a {
    color: #ffffff;
    text-decoration: none;
}
.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-mos-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align:center;
/* disable selection and cursor changes */
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}

/* Text align it the center of screen and connect the looped animation for 2 seconds */
.text{
	position: absolute;
	left: -1.3em;
	top: -1.7em;
	-webkit-animation: text 2s infinite;
	-moz-animation: text 2s infinite;
	-moz-animation: text 2s infinite;
	-ms-animation: text 2s infinite;
	-o-animation: text 2s infinite;
	animation: text 2s infinite;
}

/* Set for the first layer vertical position */
.vertical{
	position:absolute;
	top: -1.84em;
	left: -0.4em;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

/* Set for the second layer horizontal position */
.horizontal{
	position:absolute;
	top:0em;
	left:0em;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

/* The next two classes do mirror for animation */
.circlesup{
	position:absolute;
	top: -4.7em;
	right: 12.1em;
}

.circlesdwn{
	position:absolute;
	top:2.5em;
	right:-13.5em;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
.circle {
	position: absolute;
	width: 15em;
	height: 15em;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-animation: orbit 2s infinite;
	-moz-animation: orbit 2s infinite;
	-moz-animation: orbit 2s infinite;
	-ms-animation: orbit 2s infinite;
	-o-animation: orbit 2s infinite;
	animation: orbit 2s infinite;
	z-index:5;
} 