.heart {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 100px auto; /* 居中显示 */
    transform: rotate(45deg) scale(0.8);
    animation: change 1s infinite;
}

.heart::before,
.heart::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
}

.heart::before {
    left: -60px;
}

.heart::after {
    top: -60px;
}

@keyframes change {
    0% {
        transform: rotate(45deg) scale(1);
    }
    100% {
        transform: scale(45deg) scale(0.8);
    }
}

.heart-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.date-time {
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
    font-size: 12px;
}

.author-text {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: black;
    font-size: 12px;
}
