* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    background: #eee;
    color: #4c4948;
    font-size: 14px;
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 2;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0 .7rem;
    color: #344c67;
    font-weight: 700;
}

hr:before {
    position: absolute;
    top: -10px;
    left: 5%;
    z-index: 1;
    color: #49b1f5;
    content: '\f0c4';
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    transition: all 1s ease-in-out;
}

hr {
    position: relative;
    margin: 2rem auto;
    width: calc(100% - 4px);
    border: 2px dashed #a4d8fa;
    background: #fff;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

body, li, span, p {
    cursor: url(https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/cursor/texto.cur), auto;
}

a {
    background-color: transparent;
    cursor: url(https://cdn.jsdelivr.net/gh/honjun/cdn@1.6/img/cursor/ayuda.cur), auto;
}

strong {
    color: #FF0066;
}

#body-wrap {
    display: flex;
    flex-direction: column;
}

#nav.not_index_bg {
    height: 20rem;
    width: 100%;
    background-color: #49b1f5;
    background-attachment: local;
    background-position: center;
    background-size: cover;
}

#site-title {
    color: #fff;
    font-size: 1rem;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, .15);
    margin: 0 auto;
    width: 100%;
    padding: 20px 80px;
    text-align: center;
    background-color: #49b1f5;
}

.avatar-img {
    width: 100px;
    height: auto;
}

main {
    display: block;
}

#content-outer {
    flex: 1 auto;
}

.layout_page {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    padding: 0 5px;
    max-width: 1400px;
}

#page {
    margin-top: 10px;
    width: 75%; /* Adjusted width */
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 4px 8px 6px rgba(7, 17, 27, .06);
    transition: all .3s;
    padding: 20px 44px 44px;
}

#aside_content {
    width: 25%;
}

#aside_content .card-widget {
    overflow: hidden;
    margin: 10px 0;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 4px 8px 6px rgba(7, 17, 27, .06);
    transition: all .3s;
}

#aside_content .card-content {
    padding: 1rem 1.2rem;
}

.card-content {
    padding: 1rem 1.2rem;
}

.is-center {
    text-align: center;
}

.avatar-img {
    animation: avatar_turn_around 2s linear infinite;
}

.author-info__name {
    font-weight: 500;
    font-size: 1.1rem;
}

.author-info__description {
    margin-top: -.3rem;
}

.card-info-social-icons {
    margin: .3rem 0 -.3rem;
}

.social-icon {
    margin: 0 .5rem;
    color: #4c4948;
    font-size: 1.5rem;
    text-decoration: none;
}

.social-icon img {
    width: 24px; /* 设置图片宽度 */
    height: 24px; /* 设置图片高度 */
    vertical-align: middle; /* 使用垂直居中 */
}

#footer {
    position: relative;
    margin-top: 1rem;
    background-attachment: local;
    background-position: bottom;
    background-size: cover;
}

#footer-wrap {
    position: relative;
    padding: 2rem 1rem;
    text-align: center;
    line-height: 1;
}

#footer-wrap p a {
    color: #573939;
    text-decoration: none;
}

@media screen and (min-width: 768px){
    #site-title {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px){
    .layout_page {
        padding: 0 5px !important;
    }
    #page {
        margin: 0;
        padding: 1.8rem 1.3rem;
    }
}

@media screen and (max-width: 900px){
    #page{
        width: 100% !important;
    }
    #aside_content{
        width: 100% !important;
    }
    .layout_page {
        flex-direction: column;
    }
}

@media screen and (min-width: 900px){
    #aside_content .card-widget {
        margin-right: 15px;
    }
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #FF0066 0%, #FF00CC 100%);
    width: 85%;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

.fa-github:before {
    content: "\f09b";
}

#page a {
    color: #32465b; /* 设置链接文字颜色为蓝色 */
    text-decoration: none; /* 去除链接下划线 */
    font-weight: bold; /* 设置文字加粗 */
    transition: color 0.3s ease; /* 添加颜色渐变过渡效果 */
}

#page a:hover {
    color: #ac6666; /* 鼠标悬停时改变链接文字颜色 */
}